@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');

body {
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    font-family: monospace;
}

header {
    position: absolute;
    right: 25px;
    color: #ffffff;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    z-index: 1000;
    text-shadow: 2px 5px rgb(212, 187, 1);
    border: 4px solid rgb(96, 84, 0);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100px;
}

header h1 {
    margin: 0;
}

.name {
    position: absolute;
    font-size: 17px;
    color: #ffffff;
    border: 2.5px solid rgb(255, 252, 252);
    font-weight: 600;
    border-radius: 50px;
    width: 250px;
    left: 900px;
    top: 600px;
    z-index: 1000;
    text-align: center;
    
}
.container1 {
    position: absolute;
    
}

.container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    animation: moveUpDown2 7s ease-in-out infinite;
    
}

/* Image 1 */
.image-1 {
    width: 300px;
    height: 300px;
    top: 100px;
    left: 150px;
    z-index: 1;
}

.image-2 {
    width: 400px;
    height: 400px;
    top: -200px;
    left: 700px;
}

.image-3 {
    width: 600px;
    height: 600px;
    top: 200px;
    left: 400px;
    z-index: 0;
}

.image-4 {
    width: 300px;
    height: 300px;
    top: 150px;
    left: 1100px;
}

.container2 {
    width: 100px;
    height: 100px;
    position: absolute;
}

.container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    animation: moveUpDown 3s ease-in-out infinite;
}

.image-5 {
    width: 100px;
    height: 30px;
    top: 350px;
    left: 50px;
}

.image-6 {
    width: 100px;
    height: 30px;
    top: 150px;
    left: 1050px;
}

.image-7 {
    width: 100px;
    height: 30px;
    top: 400px;
    left: 1400px;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

@keyframes moveUpDown2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}


.wave {
    position: relative;
    width: 100%;
    height: 100%;
}

.wave:before ,.wave-inner {
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,0);
    background-image:
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
    background-repeat: repeat-x;
    width: auto;
    height: 750px;
    background-position: 0px 100%, -50px 100%, 500px 100%;
    animation: 15s waves linear infinite forwards;
}

@keyframes waves {
    to {
    background-position: 1600px 100%, 3150px 100%, 5300px 100%;
    }
}

nav a:link, a:visited {
    color: rgb(96, 84, 0);
    text-decoration: none;
    position: relative;
    top: 6px;
    font-size: 15px;
    padding: 2px;
}

nav .index , .myfuture , .myjourney {
    position: absolute;
    border-radius: 50px;
    background: #ffffff;
    width: 90px;
    height: 30px;
    z-index: 1000;
    box-shadow: 3.5px 3.5px 0 0 rgb(96, 84, 0);
    text-align: center; 
}

.index {
    left: 20px;
    
}

.myfuture {
    left: 130px;
}

.myjourney {
    left: 240px;
}


nav .index:hover ,.myfuture:hover ,.myjourney:hover {
    transform:translateY(-4px);
    background-color: rgba(220, 213, 160, 0.738);
}

nav a:hover {
    color: #ffffff;
}

.profile {
    width: 100px;
    height: 100px;
    position: absolute;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.image-8 {
    width: 500px;
    height: 666.73px;
    top: 100px;
    left: 500px;
}


figure {
    position: relative;
    background: rgb(212, 187, 1);
    width: 80px;
    height: 30px;
    top: 165px;
    left: 90px;
    z-index: 998;
    border-radius: 50px;
    text-align: center;
}



article:hover figure{
    transform: translateY(-20px);
    z-index: 990;
}

h3 {
    color: #ffffff;
    top: 6px;
    position: relative;
}

.textprofile {
    position: absolute;
    background: #ffffff;
    border-radius: 25px;
    width: 300px;
    height: 140px;
    top: 200px;
    left: 100px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 997;
    text-align: left;
    box-shadow: 5px 5px  rgba(190, 168, 0, 0.5);
}

article:hover .textprofile {
    z-index: 1000;
    width: 320px;
    height: 150px;
    top: 195px;
    left: 95px;
}

.textprofile p  {
    position: relative;
    top: 7px;
    color: rgb(96, 84, 0);
    font-size: 16px;
    letter-spacing: -0.8px;
}

.cards .ins, .beta {
    box-shadow: 5px 5px  rgba(190, 168, 0, 0.5);
    width: 75px;
    height: 75px;
    top: 370px;
    left: 161.25px;
    border-radius: 17px;
    position: absolute;
    z-index: 998;
}
.cards .icon .beta {
    background: linear-gradient( 135deg, rgba(250, 242, 196, 1), rgb(212, 187, 1) );

}


.icon .beta {
    left: 267.5px;

}

.cards .ins {
    left: 373.75px;
}

.heart {
    box-shadow: 5px 5px  rgba(190, 168, 0, 0.5);
    width: 75px;
    height: 75px;
    top: 370px;
    left: 161.25px;
    border-radius: 17px;
    position: absolute;
    z-index: 998;
    border: none;
    cursor: pointer;
    background: linear-gradient( 135deg, rgba(250, 242, 196, 1), rgb(212, 187, 1) );
}

.heart img {
    position: relative;
    width: 75px;
    top: -1.5;
    left: -6.5px;
}

.heart:hover {
    width: 77px;
    height: 77px;
    top: 370px;
    left: 160.25px;
}

.beta:hover {
    width: 77px;
    height: auto;
    top: 370px;
    left: 266.5px;
}

.ins:hover {
    width: 77px;
    height: auto;
    top: 370px;
    left: 372.75px;
}

video {
    position: absolute;
    top: 480px;
    left: 130px;
    z-index: 999;
    border-radius: 25px;
}




/*myjourney*/

main a {
    position: relative;   
    font-size: 15px;
    display: inline-block;
    top: 6px;
    color: rgb(96, 84, 0);
    
}

main .st, .nd,.rd,.th {
    background: rgb(212, 187, 1);
    position: absolute;
    top: 175px;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    z-index: 1000;
    border: 4px solid rgb(96, 84, 0);
}

.st {  
    left: 104px;
    
}

.nd {  
    left: 468px;
}

.rd {  
    left: 832px;
}

.th {  
    left: 1196px;
}

article a {
    color: rgb(96, 84, 0);
    text-decoration: none;
    position: relative;
    top: 6px;
    font-size: 15px;text-align: center;
}

article .tfirst, .tsecond, .tthird, .tfourth {
    position: absolute;
    background: #ffffff;
    border-radius: 25px;
    width: 250px;
    height: 300px;
    top: 220px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 998;
    text-align: left;
    box-shadow: 5px 5px  rgba(190, 168, 0, 0.5);
}



article {
    position: absolute;
    margin-left: 25px;
    padding-right: 25px;
}

article p {
    position: relative;
    letter-spacing: -0.8px;
    font-size: 15px;
}



.tfirst {
    left: 64px;
    right: 1156px;

} 

.tsecond {
    left: 428px;
    right: 792px;

} 

.tthird {
    left: 792px;
    right: 428px;

} 

.tfourth {
    left: 1156px;
    right: 64px;

}

.topY {
    font-size: 17px;
    color: rgb(96, 84, 0);
    position: relative;
    font-weight: bold;
    border: 4px outset rgb(96, 84, 0);
    border-radius: 25px;
    padding: 4px;
    text-align: center;
    background: rgba(109, 97, 2, 0.259);
    
    
}
.tfirst,.tsecond,.tthird,.tfourth,.myft {
    #line-1 {
        top: 50px;
    }
    #line-2 {
        top: 65px;
    }
    #line-3 {
        top: 80px;
    }

    #line-4 {
        top: 95px;
    }
    #line-5 {
        top: 110px;
    }
    
}   

.topY p {
    display: none;
    margin-top: 10px;
    
    
}
.topY:hover p {
        color: #000000;
        display: block;

}

/*my future*/

article .myft {
    position: relative;
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    width: 1420px;
    height: 380px;
    top: 220px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 998;
    text-align: left;
    box-shadow: 5px 5px  rgba(190, 168, 0, 0.5);
}

.pic {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 100px;
    height: auto;
    z-index: 1001;
    
    
}

.me .pic:hover {
    width: 200px;
    height: auto;
    z-index: 1001;
    top: 10px;
    left: 450px;
    content: url(resources/dcm.gif);
    border-radius: 25px;
}